:root {
    --primary: rgb(241, 183, 48);
    --bg-color: #ece7e7;
    --default-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
}

a {
    text-decoration: none;
    color: black;
}

ul, li {
    text-decoration: none;
    list-style: none;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: var(--bg-color);
}

main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 2rem;
}

header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    background-color: var(--primary)
}

footer {
    position: sticky;
    top: 100%;
    padding: 20px;
    text-align: center;
    background-color: var(--primary);
}

#homepage {
    display: flex;
    gap: 10px;
}

#review-form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#places-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-content: center;
    gap: 20px;
    text-align: center;
}

#place-details {
    text-align: center;
}

#country-filter {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
}

#place-details .place-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 20px 0px;
    padding: 60px 30px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: var(--default-shadow);
}

.details-button {
  align-items: center;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  padding: 0.3rem 1.5rem;
  text-decoration: none;
  width: auto;
}

.details-button:hover,
.details-button:focus {
  background-color: #fb8332;
}

.submit-button {
    padding: 9px 0;
    color: white;
    background-color: var(--primary);
    border: 0px solid;
    border-radius: 10px;
}

.review-text {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-input {
    padding: 5px;
    width: 20%;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.review-text {
    padding: 5px;
    max-width: 100%;
    min-width: 70%;
    height: 5rem;
}

.review-card, .place-cards {
    background-color: white;
    box-shadow: var(--default-shadow);
    padding: 0px 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.place-cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.review-card {
    padding: 30px;
    margin: 20px 0px;
}

.review-card * {
    margin-bottom: 1%;
}

.place-cards {
    padding: 50px 75px;
}

.place-name {
    text-align: center;
}


